{% extends 'base.html' %}
{% block title %}
Admin Page
{% endblock %}
{% block content %}
<body class="text-center">
   <div class="container">
   <div class="jumbotron">
      <h1 class="display-4">Open Order List (Admin)</h1>
      <p class="lead">All orders currently open</p>
      <img class="mb-4" src="{{url_for('static', filename='bee_logo_25.png')}}" alt="Bee_logo">
   </div>
   <br>
   <body class="text-center">
      <div class="container">
         <table class="table table-hover">
            <thead>
               <tr>
                  <!-- Your Columns HERE -->
                  <th scope="col">Order ID</th>
                  <th scope="col">Order Date</th>
                  <th scope="col">Order Status</th>
                  <th scope="col">Total Cost</th>
                  <th scope="col">Additional Info</th>
               </tr>
            </thead>
            <tbody>
               <!-- Your rows inside the table HERE: -->
               {% for order in open_orders %}
               <tr>
                  <td>{{ order.id }}</td>
                  <td>{{ order.order_date }}</td>
                  <td>{{ order.order_status }}</td>
                  <td>{{ order.total_cost }}</td>
                  <td><a href="{{ url_for('order_details_page', order_id=order.id, user_id=order.user_id) }}">Details</a></td>
               </tr>
               {% endfor %}
            </tbody>
         </table>
      </div>
</body>
{% endblock %}
